<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
                <h2>登录</h2>
                <hr>

                <form action="/users/login" method="POST" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input type="text" class="form-control" id="" name="uname">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input type="password" class="form-control" id="" name="password">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary form-control">登录</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>